<% include ./partials/header %>

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/blog.css">

<div id="content" class="container">
    
    <h1 id="page-title">Blog</h1>

    <% if (posts.length === 0 ){ %>
        <h2 id="sorry-msg">Sorry, no Blog Posts have been published yet.</h2>
    <% }else{ %>
        <% posts.forEach(function(post){ %>
        <div class="card mb-5">
            <h3><%=post.title%></h3>
            <% if (post.content.indexOf("<figure>") !== -1 ){ %>
            <img src="<%= getImgSrc(post.content) %>" alt="">
            <% }else { %>
            <img src="./images/stub.jpg" alt="">
            <% } %>
            <div class="container">
                <!-- <span id="author"><%=post.author%></span>
                <span id="date"><%=post.publishedDate.substring(0,16)%></span> -->
                <h6><%=post.contentSnippet%><a href="<%= post.link %>">See More</a></h6>
            </div>
        </div>
        <% }); %>
    <% } %>

    <% 
        function getImgSrc(str){                 
            var index = str.indexOf("src") + 5; 
            var imgSrc = "";                    
            while (str[index] !== "\""){        
                imgSrc += str[index];           
                index ++;                       
            }                                   
            return imgSrc;                      
        }                
    %>
   


</div>

<% include ./partials/footer %>
