<% include ./partials/header-top %>

<title>umisc | edit event</title>

<% include ./partials/header-bottom %>

<!-- Custom Stylesheet -->
<link rel="stylesheet" href="/stylesheets/add-event.css">

<div id="content" class="container main">

  <section id="form" class="py-5">

      <h2 class="d-flex mb-5 justify-content-center">Edit Details For: <%= event.name %></h2>

      <form action="/events/<%=event._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
    
        <div class="form-group row">
            <div class="col-12 col-sm-6">
                <div class="custom-file">
                    <input id="img" type="file" class="custom-file-input file-upload" name="event_img" accept="image/*">
                    <label for="img" class="custom-file-label file-upload">current: <%= event.img_name %></label>
                </div>
            </div>
        </div>

        <div class="form-group row" style="display: none">
            <div class="col-12 col-sm-8">
                <input type="text" class="form-control" name="event[img_name]" value="<%= event.img_name %>" required>
            </div>
        </div>
  
        <div class="form-group row">
          <div class="col-12 col-sm-8">
            <% var date = event.date.toLocaleDateString('en-US', {day:'2-digit', month:'2-digit', year:'numeric'}) %>
            <% date = date.substring(6) + "-" + date.substring(0,2) + "-" + date.substring(3,5) %>
            <input id="date" type="date" class="form-control" name="event[date]" value="<%= date %>" required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-12 col-sm-4">
            <input id="start_time" type="text" class="form-control" name="event[start_time]" placeholder="start time" value=<%= event.start_time %> required>
          </div>
          <div class="col-12 col-sm-4">
            <input id="end_time" type="text" class="form-control" name="event[end_time]" placeholder="end time" value=<%= event.end_time %> required>
          </div>
        </div>
  
        <div class="form-group row">
          <div class="col-12 col-sm-8">
            <textarea id="desc" class="form-control" rows="8" name="event[description]" placeholder="Description" required><%= event.description %></textarea>
          </div>
        </div>
  
        <div class="form-group row">
          <div class="col-12 col-sm-8">
            <input id="loc" type="text" class="form-control" name="event[location]" placeholder="Location" value="<%= event.location %>" required>
          </div>
        </div>
  
        <div class="form-group row">
            <div class="col-12 col-sm-8">
              <input id="loc_link" type="text" class="form-control" name="event[location_link]" placeholder="LostOnCampus Link" value="<%= event.location_link %>" required>
            </div>
          </div>
  
        <div class="form-group row">
          <div class="col-12 col-sm-8">
            <input id="page_link" type="text" class="form-control" name="event[page_link]" placeholder="Facebook Page Link" value="<%= event.page_link %>" required>
          </div>
        </div>
  
        <div class="row mt-5">
          <div class="col-6 col-md-4">
            <a href="/events">
              <button type="button" id="cancel-btn" class="btn btn-outline-danger float-right">cancel</button>
            </a>
          </div>
          <div class="col-6 col-md-4">
            <button type="submit" id="create-btn" class="btn btn-outline-success float-left">confirm changes</button>
          </div>
        </div>
  
      </form>
  
  </section>

</div>

<% include ./partials/footer %>
