<% include ./partials/header %>

<!-- FontAwesome CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/events.css">

<!-- global array declaration -->
<% var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>

<div id="content" class="container">

  <% if (currentUser){ %>
    <a href="/events/new"><button class="add-btn">+ Event</button></a>
  <% } %>

  <h1>
    <a href="/events<%= prev %>">
        <i class="nav fas fa-angle-left"></i>
    </a>
    <span id="month"><%= months[month] %></span>
    <a href="/events<%= next %>">
      <i class="nav fas fa-angle-right"></i>
    </a>
    <br>
    <span id="year"><%= year %></span>
  </h1>

  <div class="row flex-wrap">
    <% if (events.length === 0 ){ %>
      <h2 id="sorry-msg">Sorry, there are no events scheduled for this month.</h2>
    <% }else{ %>
      <% events.forEach(function(event){ %>
        <div class="event col-md-4 col-sm-6 pb-5">
          <h4>
            <% if (currentUser){ %>
                <a href="/events/<%=event._id%>/edit">
                  <i class="pl-1 pt-1 admin-btn float-left far fa-edit"></i>
                </a>
            <% } %>
            <span><%=event.name%></span>
            <% if (currentUser){ %>
                <form  action="/events/<%=event._id%>?_method=DELETE" method="POST">
                  <button type="submit" class="float-right del-btn"><i class="pt-1 pr-1 admin-btn fas fa-times"></i></button>
                </form>

            <% } %>
          </h4>
            <img src="<%= event.image %>" class="img-thumbnail">
            <a href="/events/<%=event._id%>" target="_blank"><button class="more-btn mt-3">More Info</button></a>
        </div>
      <% }); %>
    <% } %>
  </div>
</div>

<!-- Custom JS -->
<script type="text/javascript" src="/scripts/home.js"></script>

<% include ./partials/footer %>
