<% include ./partials/header-top %>

<title>umisc | events</title>

<% include ./partials/header-bottom %>

<!-- FontAwesome CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/events.css">

<!-- global array declaration -->
<% var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>

<div id="content" class="container">

  <% if (currentUser){ %>
    <a href="/events/new">
      <button class="add-btn">+ Event</button>
    </a>
  <% } %>

  <h1>
    <a href="/events<%= prev %>">
        <i class="nav fas fa-angle-left"></i>
    </a>
    <span id="month"><%= months[month] %></span>
    <a href="/events<%= next %>">
      <i class="nav fas fa-angle-right"></i>
    </a>
  </h1>
  <span id="year"><%= year %></span>

  <div class="row flex-wrap mt-5">
    <% if (events.length === 0 ){ %>
      <h2 id="sorry-msg">Sorry, there are no events scheduled for this month.</h2>
    <% }else{ %>
      <% events.forEach(function(event){ %>
        <div class="event col-md-4 col-sm-6 mb-5">
          <!-- <h4><%=event.name%></h4> -->
          <img src="<%= event.image %>" class="event-img img-thumbnail">
          <div class="img-overlay">
              <div id="info">
                  <% var date = event.date.toDateString(); %>
                  <p> Date: <%= date.substring(0,3)%>, <%= date.substring(8,10)%> <%= date.substring(4,7)%> <%= date.substring(11)%></p>
                  <p> Time: <%= event.time %></p>
                  <p> Location: <a href="<%=event.location_link%>" target="_blank"> <%=event.location%></a></p>
                  <a href="/events/<%=event._id%>"><button class="more-btn btn">More Info</button></a>
              </div>
          </div>
        </div>
      <% }); %>
    <% } %>
  </div>
</div>

<% include ./partials/footer %>
