<% include ./partials/header-top %>

<title>umisc | home</title>

<% include ./partials/header-bottom %>

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/home.css">

<!-- Global array declaration -->
<% var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>

<div id="content">

  <% include ./partials/social-links %>

  <section id="banner" class="py-5">
      <h1 id="main-title">University <span id="special">of</span> Melbourne<br>Information Security Club</h1>
      <img id="main-img" src="/images/backgrounds/bg.png">
  </section>

  <section id="club-summary" class="py-5">
      <div class="container">
          <h1 class="pb-5">A Community of Ethical Hackers</h1>
          <div class="row">
              <div class="col-12 col-md-4 py-3">
                  <i class="fas fa-graduation-cap icon"></i>
                  <p class="ad-title pt-4"><strong>Learn</strong></p>
                  <p>Get started with the basics of pen-testing and defending software applications</p>
              </div>
              <div class="col-12 col-md-4 py-3">
                  <i class="fas fa-user-friends icon"></i>
                  <p class="ad-title pt-4"><strong>Connect</strong></p>
                  <p>Meet like-minded students and get involved in the cybersecurity community</p>
              </div>
              <div class="col-12 col-md-4 py-3">
                  <i class="fas fa-trophy icon"></i>
                  <p class="ad-title pt-4"><strong>Compete</strong></p>
                  <p>Test your skills by competing in Capture the Flag competitions</p>
              </div>
          </div> 
          <hr>
          <p class="py-2">Join us for weekly lessons on InfoSec and CySec fundamentals- <br>did we mention that there'd be free pizza?</p>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSc6yxrJFwokhd7GiJGSdd7YUn8kDvk4AGsnfjYv6yloEVuUaA/viewform" target="_blank">
              <button type="button" class="btn btn-outline-primary">sign up</button>
          </a>       
      </div>
  </section>

  <% if (events.length > 0){ %>
  <section id="events" class="py-5">
    <div class="container">
        <h1>Events This Month</h1>
        <div class="row flex-wrap mt-5">
            <% events.forEach(function(event){ %>
            <div class="event col-md-4 col-sm-6 mb-5">
              <img src="<%= event.image %>" class="event-img img-thumbnail">
              <div class="img-overlay">
                  <div id="info">
                      <% var date = event.date.toDateString(); %>
                      <p> Date: <%= date.substring(0,3)%>, <%= date.substring(8,10)%> <%= date.substring(4,7)%> <%= date.substring(11)%></p>
                      <p> Time: <%= event.time %></p>
                      <p> Location: <a href="<%=event.location_link%>" target="_blank"> <%=event.location%></a></p>
                      <a href="/events/<%=event._id%>"><button class="btn btn-outline-primary">more info</button></a>
                  </div>
              </div>
            </div>
            <% }); %>
        </div>
        <a href="/events">
          <button type="button" class="btn btn-outline-primary">see more ></button>
        </a>
    </div>
  </section>
</div>
<% } %>

<% include ./partials/footer %>
