<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/show-event.css">

<div id="content" class="container">

  <div class="event-details">

      <h2><%=event.name%></h2>
      <img class="img-fluid d-flex mx-auto mb-4" src="<%= event.image %>">
      <% var date = event.date.toDateString(); %>
      <p><strong>Date:</strong> <%= date.substring(0,3)%>, <%= date.substring(8,10)%> <%= date.substring(4,7)%> <%= date.substring(11)%></p>
      <p><strong>Time:</strong> <%= event.time %></p>
      <p><strong>Description:</strong><br><%=event.description%></p>
      <p><strong>Location:</strong><a href="<%=event.location_link%>" target="_blank"> <%=event.location%></a></p>
      <p><strong>Event Page:</strong> <a href="<%=event.page_link%>" target="_blank"><%=event.name%></a></p>
    
      <% if (currentUser){ %>
        <p class="admin-details"><strong>Created by:</strong> <%= event.created_by.username %><strong>,</strong> <span><%= event.created_on %></span></p>
        <% if (event.last_edited_on > event.created_on) { %>
        <p class="admin-details"><strong>Last Edited by:</strong> <%= event.last_edited_by.username %><strong>,</strong> <span><%= event.last_edited_on %></span></p>
        <% } %>
      <% } %>
    
      <button type="button btn-set-1" onclick="history.back()" class="btn back-btn float-left mt-3">Back</button>
    
      <% if (currentUser){ %>
    
        <div class="float-right">
            <a href="/events/<%=event._id%>/edit">
              <button class="btn edit-btn btn-set-1">Edit</button>
            </a>
            <button class="btn del-btn btn-set-1" id="del-btn-1">Delete</button>
        </div>    

  </div>
  
    <div class="confirm-overlay">
        <h3>Are you sure you want to delete: <span><%=event.name%></span>?</h3>
        <button class="btn back-btn-2">Back</button>
        <form class="d-inline" action="/events/<%=event._id%>?_method=DELETE" method="POST">
          <button class="btn del-btn" id="del-btn-2">Delete</button>
        </form>
      </div>

  <% } %>
  
</div>

<!-- Custom JS -->
<script type="text/javascript" src="/scripts/show-event.js"></script>

<% include ./partials/footer %>
